.name {
    float: left;
    margin-left: 5rem;
    font-size: 25px;
}

nav {
    display: flex;
    float: right;
    margin-right: 3rem;
}

li {
    font-size: 22px;
    display: inline-flex;
    padding: 30px;
}

.main {
    display: block;
    text-align: center;
    padding-top: 12rem;
    font-size: 1.5rem;
 }
 
 
 .main img {
   border-radius: 50%;
   margin-top: 7rem;
   width: 18%;
   height: 18%;
 }
 

