header {
    display: block;
    width: 100%;
}

.name {
    float: left;
    margin-left: 5rem;
    font-size: 25px;
}

nav {
    float: right;
    margin-right: 3rem;
}

li {
    font-size: 22px;
    display: inline-flex;
    padding: 30px;
}

.main {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 12rem;
    font-size: 1.5rem;
 }
 
 .main img {
   border-radius: 50%;
   margin: 7rem 0rem;
   width: 18%;
   height: 18%;
 }

 .AboutMe {
    display: block;
    text-align: center;
    width: 100%;
 }

 .AboutMe p {
    font-size: 1.5rem;
 }
 

