.name {
    float: left;
    margin-left: 5rem;
    font-size: 25px;
}

nav {
    display: flex;
    float: right;
    margin-right: 3rem;
}

li {
    font-size: 22px;
    display: inline-flex;
    padding: 30px;
}

